      <div id="dlg_tsk_confirm_task_data">
        <table class="dlg_form_table">
          <tr>
            <td class="groupborder" style="background-color:#FFFFFF;"><span id="dlg_tsk_confirm_task_data_name">&nbsp;</span></td>
            <td class="groupborder" style="background-color:#FFFFFF;text-align:right;"><span id="dlg_tsk_confirm_task_data_complete_date">&nbsp;</span></td>
          </tr>
          <tr>
            <td colspan="2" style="background-color:#FFFFFF;text-align:right;">
              <span id="dlg_tsk_confirm_task_data_progress_rate" style="margin-left:20px;">&nbsp;</span>
              <span id="dlg_tsk_confirm_task_data_report_date" style="margin-left:20px;">&nbsp;</span>
            </td>
          </tr>
        </table>
      </div>
      <div style="width: 416px;height: 260px;">
        <div id="<%= @master_symbol %>_grid_panel" class="fill">
          <div id="<%= @master_symbol %>_grid" class="fill"></div>
        </div>
      </div>