<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">

<title>9Arrows</title>
<%= stylesheet_link_tag(['app/css/static', 'app/css/sessions']) %>
</head>
<body onload="document.getElementById('login_id').focus()">

<div class="container">

<%= yield %>

</div>
</body>
</html>
